<% @authority.projects.each do |project|%>
<div class='row show-grid'>
  <%= content_tag :h4, "#{project.title}", class: "col-md-12"%>
  <%= image_tag url_for(:controller => "photos", :action => "show_project", :project_id=>project.id), class: "col-md-3 img-thumbnail"%>

  <%= content_tag :h4, "Project team", class: "col-md-12"%>
  <% project.teams.each do |c|%>
  <div class="col-md-3">
   <%= content_tag :h5, "#{c.title+' '+c.name+' '+c.surname}" %>
  <%= link_to "Delete", authority_project_pteams_path(@authority, project, c), class: "btn btn-danger", method: :delete %>
  </div>
  <% end%>
</div>

<div class="text-center">
  <%= link_to 'Edit', [:edit, @authority, project], class: "btn btn-warning"%>
  <%= link_to 'Delete', [@authority, project], class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<hr>
<% end %>
