<%= form_for ([@authority, @paper]), :html => { :multipart => true } do |f| %>
  <% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paper.errors.count, "error") %> prohibited this paper from being saved:</h2>
      <ul>
      <% @paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description, ckeditor: { uiColor: '#AADC6E', toolbar: 'medium' } %>
  </div>
  <div class="field">
    <%= f.label :published %><br>
    <%= f.date_select :published, :order => [:day, :month, :year], :start_year => Date.today.year - 10, :end_year => Date.today.year %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>

  <div class="row">
  <%= f.fields_for :photos, @paper.photos do |ff| %>
    <% if (ff.object).present? %>
    <div>
    <h2>Edit photo</h2>
      <%= image_tag url_for(:controller => "photos", :action => "show_paper",
                            :paper_id=>ff.object.paper_id), class: "col-md-2 img-thumbnail"%>
    </div>
    <div class="col-md-2">
      <div class="field">
        <p><%= ff.object.filename %></p>
        <%= ff.file_field :file %><br>
      </div>

      <div class="field">
          <%= ff.label :description %>
          <%= ff.text_field :description, :value => ff.object.description %>
      </div>
    </div>
    <% else %>
    <h2>Add photo</h2>
        <div class="field">
          <%= ff.file_field :file %><br>
        </div>
        <div class="field">
          <%= ff.label :description %>
          <%= ff.text_field :description %>
        </div>

    <% end %>
  <% end %>
</div>

  <div class="field">
  <%= f.label "Choose co-author" %><br>
  <%= f.collection_select 'team_ids', Team.all, :id, :name_with_initial, :include_blank => true %>
  </div>


  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>

<% end %>
