    <div class='row'>
      <%= content_tag :h4, "#{@paper.title}", class: "col-md-12"%>
      <%= image_tag url_for(:controller => "photos", :action => "show_paper", :paper_id=>@paper.id), class: "col-md-3 img-thumbnail"%>
      <div class="col-md-12 text-justify">
        <%= simple_format("#{@paper.description}", class: "text-justify")%>
      </div>
      <%= content_tag :h5, "Published: #{@paper.published}", class: "col-md-4"%>
      <%= content_tag :h5, class: "col-md-4" do%>
        <%= content_tag :spam, "URL:"%>
        <%= link_to "http://#{@paper.url}/", "http://#{@paper.url}/", target: "_blank"%>
      <% end%>
      <%= content_tag :h4, "Co-author", class: "col-md-12"%>
      <%= content_tag :h5, "#{@paper.teams.map {|c| c.title+' '+c.name+' '+c.surname}.join(', ')}", class: "col-md-12" %>
      <div>
        <%= link_to 'Back', "/#prj", class: "label-back" %>
      </div>
    </div>
