<p id="notice"><%= notice %></p>

    <section class="row">
    <div class='animated bounceInDown'>
      <%= image_tag url_for(:controller => "photos", :action => "show_authority", :authority_id=>@authority.id, :id=>@authority.photos[0][:id]), class: "col-md-2"%>
      <div class="col-md-10">
      <%= content_tag :h4, "#{@authority.title} #{@authority.name} #{@authority.surname}", class: "col-md-12"%>
      <%= content_tag :h5, "#{@authority.position}", class:"col-md-12"%>
      </div>
      <div class="col-md-12 text-justify">
        <%= simple_format("#{@authority.about}")%>
      </div>
    </div>
    </section>

    <section id="phts" class="row">
    <div class="carousel_wrap">
    <%= render 'layouts/carousel_photos' %>
    </div>
    </section>

    <section id="prj" class="row">
      <h3 class="text-center animated fadeInUp">Projects</h3>
        <div class='row'>
          <%= render @projects %>
        </div>
    </section>

    <section id="ppr" class='indexpage row'>
    <h3 class="text-center animated fadeInUp">Papers</h3>
      <div class='row'>
        <%= render @papers %>
      </div>
    </section>

    <section id="cnts" class='row text-center'>
    <h4 class="animated fadeInUp">Contact</h4>
    <%= render @contacts %>
    </section>
