<div class='row show-grid'>
  <%= content_tag :h3, "#{@authority.title} #{@authority.name} #{@authority.surname}",class:"col-md-12"%>
  <%= content_tag :h3, "#{@authority.position}",class:"col-md-12"%>
  <%= image_tag url_for(:controller => "photos", :action => "show_authority", :authority_id=>@authority.id, :id=>@authority.photos[0][:id]), class: "col-md-3 img-thumbnail"%>
  <div class="col-md-12 text-justify">
    <%= simple_format("#{@authority.about}")%>
  </div>
</div>
<div class="btn btn-warning"><%= link_to 'Edit', edit_authority_path(@authority) %></div>
<%= link_to 'Delete', @authority, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>


<hr class='well-sm'>

<h2 class="text-center">Projects</h1>
<div>
  <%= render "projects/view.html.erb" %>
</div>

<div>
  <h2>Add new project</h1>
  <%= form_for([@authority, @authority.projects.new]) do |f| %>
    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="form-group">
      <%= f.label :about %><br>
      <%= f.cktext_area :about, cols: 40 %>
    </div>
    <div class="form-group">
      <%= f.label :started %><br>
      <%= f.date_select :started, selected: Date.today, min: 5.years.ago %>
    </div>
    <div class="form-group">
      <%= f.label :finished %><br>
      <%= f.date_select :finished, selected: Date.today, min: Date.today, max: 5.years.from_now %>
    </div>
    <div class="form-group">
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </div>

    <div class="field">
    <%= f.label "Is current:  " %>
    <%= f.check_box :current %>
    </div>

    <%= f.fields_for :photos, f.object.photos.new do |ff| %>
      <h2>Add photo</h2>
          <div class="field">
            <%= ff.file_field :file, class: "btn btn-primary" %><br>
          </div>
          <div class="field">
            <%= ff.label :description %>
            <%= ff.text_field :description %>
          </div>
    <% end %>


    <div class="actions form-group">
      <%= f.submit "Add New Project", class: "btn btn-primary" %>
    </div>
  <% end %>

  <hr class='well-sm'>
<!-- PAPERS -->

<h2 class="text-center">Papers</h1>
<div>
  <%= render "papers/view.html.erb" %>
</div>

<div>
  <h2>Add new paper</h1>
  <%= form_for([@authority, @authority.papers.new]) do |f| %>
    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.cktext_area :description, cols: 40, ckeditor: { uiColor: '#AADC6E', toolbar: 'medium' } %>
    </div>
    <div class="form-group">
      <%= f.label :published %><br>
      <%= f.date_select :published, selected: Date.today, min: 5.years.ago %>
    </div>
    <div class="form-group">
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </div>

    <%= f.fields_for :photos, f.object.photos.new do |ff| %>
      <h2>Add photo</h2>
          <div class="field">
            <%= ff.file_field :file, class: "btn btn-primary" %><br>
          </div>
          <div class="field">
            <%= ff.label :description %>
            <%= ff.text_field :description %>
          </div>
    <% end %>


    <div class="actions form-group">
      <%= f.submit "Add New Paper", class: "btn btn-primary" %>
    </div>
  <% end %>

  <hr class='well-sm'>

  <h2 class="text-center"> Contact</h1>
  <div>
    <%= render 'contacts/view.html.erb'%>
  </div>

  <div>
    <h2>Add new contact</h1>
    <%= form_for([@authority, @authority.contacts.new]) do |f| %>
    <div class="form-group">
      <%= f.label :street %><br>
      <%= f.text_field :street %>
    </div>
    <div class="form-group">
      <%= f.label :city %><br>
      <%= f.text_field :city %>
    </div>
    <div class="form-group">
      <%= f.label :postcode %><br>
      <%= f.text_field :postcode %>
    </div>
    <div class="form-group">
      <%= f.label :country %><br>
      <%= f.text_field :country %>
    </div>
    <div class="form-group">
      <%= f.label :phone %><br>
      <%= f.number_field :phone %>
    </div>
    <div class="form-group">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
      <div class="actions">
        <%= f.submit "Add New contact", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

</div>
